body {
    background: #e4e9f2;
    /* background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(253,187,45,1) 100%); */
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#todo-container {
    background: #f5f7fa;
    width: 400px;
    margin: 0 auto;
    border: 2px solid #d1d5db;
    padding: 20px;
    color: #2e2e3a;
    border-radius: 15px;
}

#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px; 
}

#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-btn {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fbbf24;
  color: #ffffff;
}

#input-btn:hover {
  background-color: #ffcb5c; 
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align:left;

}

li {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #2e2e3a;
}

.edit-btn, .delete-btn {
  float: right;
  color:#ffffff;
  cursor: pointer;
  margin: -3px 5px;
  border: none;
  border-radius: 5px;

  height: 28px;
  line-height: 28px;
  padding: 0px 12px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 

.edit-btn {
  background-color: #3b82f6;
} 

.edit-btn:hover {
  background-color: #60a5fa;
}

.delete-btn {
  background-color: #ef4444;
} 

.delete-btn:hover {
  background-color: #f87171;
}

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
  background-color: #a7a7a785;
}